<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<Bundle Name="XInput Battery Meter" Version="1.0.0" Manufacturer="Martin Tracey" UpgradeCode="2d59ec67-b254-4b8c-95e8-71985f28747f">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication
        LicenseFile="..\Resources\LICENSE.rtf"
        LogoFile="..\Resources\Icon.png" 
        ThemeFile="CustomTheme.xml" />
    </BootstrapperApplicationRef>
	  <Variable Name="InstallFolder" Type="string" Value="[ProgramFilesFolder]XInput Battery Meter" Persisted="yes" />
    <Variable Name="DesktopShortcutCheckbox" Type="numeric" Value="1" Persisted="yes" />

    <Chain>
      <PackageGroupRef Id="XInputBatteryMeter"/>
	  </Chain>
	</Bundle>
  <Fragment Id="Application">
    <PackageGroup Id="XInputBatteryMeter">
      <MsiPackage Id="pkg_XInputBatteryMeter"
                  Cache="no"
                  Compressed="yes"
                  Permanent="no"
                  Vital="yes"
                  SourceFile="$(var.AppInstallerDir)\XInput Battery Meter.msi">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
        <MsiProperty Name="INSTALLSHORTCUT" Value="[DesktopShortcutCheckbox]"/>
      </MsiPackage>
    </PackageGroup>
  </Fragment>
</Wix>
