<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="60053C46-606D-4280-BBD4-57C743FB9B33" Name="XInput Battery Meter" Language="1033" Version="1.0.0" Manufacturer="Martin Tracey" UpgradeCode="fb26581f-6b3e-412a-97b6-146ff8401b93">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Manufacturer="Martin Tracey" Description="Installs the XInput Battery Meter application." />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    
    <Feature Id="ProductFeature" Title="XInput Battery Meter" Level="1">
      <ComponentGroupRef Id="BinDirectory" />
      <ComponentRef Id="DesktopShortcut" />
    </Feature>
  
    <Property Id="INSTALLSHORTCUT" Value="1" Admin="yes" Secure="yes" />
    <SetProperty Id="INSTALLSHORTCUT" Value="{}" After="AppSearch">INSTALLSHORTCUT=0</SetProperty>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="XInput Battery Meter" />
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop"/>
    </Directory>

    <WixVariable Id="WixUILicenseRtf" Value="..\Resources\LICENSE.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="..\Resources\WixUIDialogBmp.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="..\Resources\WixUIBannerBmp.bmp" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"></Property>
    <UIRef Id="Custom_InstallDir"/>
  </Fragment>

  <Fragment>
    <Icon Id="ControllerIcon.ico" SourceFile="..\Resources\ControllerIcon.ico"/>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="6FFFACFF-742B-487F-B9DD-0B541F066C8C">
        <Condition>INSTALLSHORTCUT</Condition>
        <Shortcut Id="ApplicationDesktopShortcut" 
                  Name="XInput Battery Meter" 
                  Target="[INSTALLFOLDER]XInputBatteryMeter.exe"
                  WorkingDirectory="INSTALLFOLDER" 
                  Icon="ControllerIcon.ico" />
        <RemoveFolder Id="DesktopFolder" On="uninstall" />
        <RegistryKey Root="HKCU" Key="Software\!(Wix.Product)">
          <RegistryValue Name="installed" Type="integer" Value="1" KeyPath="yes" />
        </RegistryKey>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
