<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle Name="XInput Battery Meter" Version="1.0.1" Manufacturer="Martin Tracey" UpgradeCode="2d59ec67-b254-4b8c-95e8-71985f28747f">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication LicenseFile="$(SolutionDir)\Resources\LICENSE.rtf" LogoFile="$(SolutionDir)\Resources\Icon.png" ThemeFile="CustomTheme.xml" Theme="rtfLicense" />
    </BootstrapperApplication>
    <Variable Name="InstallFolder" Type="formatted" Value="[ProgramFilesFolder]XInput Battery Meter" Persisted="yes" />
    <Variable Name="DesktopShortcutCheckbox" Type="numeric" Value="1" Persisted="yes" />

    <Chain>
      <PackageGroupRef Id="XInputBatteryMeter" />
    </Chain>
  </Bundle>
  <Fragment Id="Application">
    <PackageGroup Id="XInputBatteryMeter">
      <MsiPackage Id="pkg_XInputBatteryMeter" Cache="remove" Compressed="yes" Permanent="no" Vital="yes" SourceFile="$(XInputBatteryMeter.Installer.TargetDir)\$(XInputBatteryMeter.Installer.ProjectName).msi">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
        <MsiProperty Name="INSTALLSHORTCUT" Value="[DesktopShortcutCheckbox]" />
      </MsiPackage>
    </PackageGroup>
  </Fragment>
</Wix>
